# Homework #1

In [1]:
# import libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# read the data
car_fuel_efficiency = pd.read_csv("data/car_fuel_efficiency.csv")

### Q1. What version of Pandas did you install?

In [2]:
pd.__version__

'2.3.2'

### Q2. How many records are in the dataset?

In [9]:
car_fuel_efficiency.shape

(9704, 11)

### Q3: How many fuel types are presented in the dataset?

In [11]:
car_fuel_efficiency["fuel_type"].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

### Q4: How many columns in the dataset have missing values?

In [14]:
car_fuel_efficiency.isna().sum().sort_values(ascending=False)

acceleration           930
horsepower             708
num_doors              502
num_cylinders          482
engine_displacement      0
model_year               0
vehicle_weight           0
origin                   0
fuel_type                0
drivetrain               0
fuel_efficiency_mpg      0
dtype: int64

### Q5. What's the maximum fuel efficiency of cars from Asia?

In [18]:
car_fuel_efficiency[car_fuel_efficiency["origin"] == "Asia"]["fuel_efficiency_mpg"].max()

23.759122836520497

### Q6. Median value of horsepower

In [20]:
# Find the median value of horsepower
car_fuel_efficiency["horsepower"].median()

149.0

In [25]:
# Next, calculate the most frequent value of the same horsepower column.
horsepower_mode = car_fuel_efficiency["horsepower"].mode()[0]
horsepower_mode

np.float64(152.0)

In [26]:
# Use the fillna method to fill the missing values in the horsepower column with the most frequent value
car_fuel_efficiency["horsepower"] = car_fuel_efficiency["horsepower"].fillna(horsepower_mode)
car_fuel_efficiency["horsepower"].isna().sum()

np.int64(0)

In [27]:
# Now, calculate the mean value of horsepower
car_fuel_efficiency["horsepower"].mean()

np.float64(149.82821516900248)

**Has it changed?**
- Yes, it increased

### Q7. Sum of weights

In [31]:
# Select all the cars from Asia
asian_cars = car_fuel_efficiency[car_fuel_efficiency["origin"] == "Asia"]
asian_cars

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,152.0,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [30]:
# Select only columns vehicle_weight and model_year
asian_cars[["vehicle_weight", "model_year"]]

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [34]:
# Select the first 7 values
seven_asian_cars = asian_cars[["vehicle_weight", "model_year"]][:7]

In [36]:
# Get the underlying NumPy array. Let's call it X.
X = seven_asian_cars.to_numpy()
print(X)

[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]

In [40]:
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = X.T.dot(X)
print("XTX:", XTX, end="\n\n")

# Invert XTX.
XTX_inv = np.linalg.inv(XTX)
print("Inverted XTX:", XTX_inv)

XTX: [[62248334.33150762 41431216.50732678]
 [41431216.50732678 28373339.        ]]

Inverted XTX: [[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

In [42]:
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
print(y)

[1100 1300  800  900 1000 1100 1200]

In [43]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = XTX_inv.dot(X.T).dot(y)
print("Result w:", w)

Result w: [0.01386421 0.5049067 ]

In [45]:
# What's the sum of all the elements of the result?
print("Sum of of all elements:", w.sum())

Sum of of all elements: 0.5187709081074007